### Population Changes Since 1980

The data shown below shows the decade-on-decade increases in the
[world's population](https://www.worldometers.info/world-population/world-population-by-year/)
since 1980.

In [4]:
import pandas as pd
population = [4.4, 5.3, 6.1, 7, 7.8, 7]
decades= [1980,1990, 2000,2010,2020, 2024]
zipped = list(zip(decades, population))
columns = ['Decade', 'Population(Bn)']
df = pd.DataFrame(zipped, columns=columns)
df

   Decade  Population(Bn)
0    1980             4.4
1    1990             5.3
2    2000             6.1
3    2010             7.0
4    2020             7.8
5    2024             7.0

In [5]:
df['Change'] = df['Population(Bn)'].diff()

In [6]:
df

   Decade  Population(Bn)  Change
0    1980             4.4     NaN
1    1990             5.3     0.9
2    2000             6.1     0.8
3    2010             7.0     0.9
4    2020             7.8     0.8
5    2024             7.0    -0.8