In [70]:
import pandas as pd
import numpy as np

index = np.arange(2,10)
columns =['A','B', 'C', 'D','A','B', 'C', 'D' ]


data = pd.DataFrame({'Date': ['2023-01-01', '2023-01-01', '2023-05-01', '2023-04-01', '2023-02-01','2023-02-01','2023-02-01','2023-02-02'],
                     'Category': columns,
                     'Value': [12,44,21,33,89,16,72,41]}, index=index).sort_values(by='Date')
print(data)
print('--------------------------------')

dfpivot = pd.pivot_table(data=data, values='Value', index='Date', columns='Category', aggfunc='sum', fill_value=0, margins=True, margins_name='Total')

         Date Category  Value
2  2023-01-01        A     12
3  2023-01-01        B     44
6  2023-02-01        A     89
7  2023-02-01        B     16
8  2023-02-01        C     72
9  2023-02-02        D     41
5  2023-04-01        D     33
4  2023-05-01        C     21
--------------------------------

In [71]:
dfpivot

Category      A   B   C   D  Total
Date
2023-01-01   12  44   0   0     56
2023-02-01   89  16  72   0    177
2023-02-02    0   0   0  41     41
2023-04-01    0   0   0  33     33
2023-05-01    0   0  21   0     21
Total       101  60  93  74    328

In [52]:
#dfpivot.to_excel('/Users/cemakay/DataScience/Jupyter/Pivot/pivottable.xlsx',index=True)