In [1]:
import pandas as pd
import numpy as np
import random

In [7]:
customer = pd.DataFrame({'CustomerID': np.arange(1,6),
                         'Name' : ['Cem', 'Sami', 'Esila', 'Adam', 'Ela']})
customer

   CustomerID   Name
0           1    Cem
1           2   Sami
2           3  Esila
3           4   Adam
4           5    Ela

In [22]:
orders = pd.DataFrame({'OrderID': np.arange(101,106),
                       'CustomerID': np.arange(5,0, -1),
                       'Amount': np.random.uniform(20,40, 5).round(2)})
orders

   OrderID  CustomerID  Amount
0      101           5   33.92
1      102           4   20.27
2      103           3   21.85
3      104           2   26.48
4      105           1   20.38

In [30]:
df_merged = pd.merge(orders, customer, on='CustomerID', how='inner').query('Amount < 21')
df_merged

   OrderID  CustomerID  Amount  Name
1      102           4   20.27  Adam
4      105           1   20.38   Cem