In [1]:
import pandas as pd
import yfinance as yf
import datetime

In [2]:
stock = 'AAPL'
start = datetime.date(2001,2,1)
end = datetime.date(2025,5,21)

data = yf.download(stock, start=start, end=end)

[*********************100%%**********************]  1 of 1 completed

In [6]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2001-02-01,0.369420,0.383929,0.366071,0.377232,0.318932,369695200
2001-02-02,0.377232,0.391741,0.366071,0.368304,0.311384,427341600
2001-02-05,0.366071,0.367188,0.352679,0.360491,0.304778,286115200
2001-02-06,0.359933,0.381975,0.357143,0.377232,0.318932,462711200
2001-02-07,0.368862,0.372768,0.353795,0.370536,0.313271,393887200
...,...,...,...,...,...,...
2024-05-15,187.910004,190.649994,187.369995,189.720001,189.720001,70400000
2024-05-16,190.470001,191.100006,189.660004,189.839996,189.839996,52845200
2024-05-17,189.509995,190.809998,189.179993,189.869995,189.869995,41282900
2024-05-20,189.330002,191.919998,189.009995,191.039993,191.039993,44323200
2024-05-21,191.089996,192.589996,190.920105,192.195007,192.195007,11535316

In [ ]:
data = data.iloc[: , 3]

In [ ]:
data = data.reset_index()

In [ ]:
data.set_index('Date', inplace=True)

In [ ]:
data

In [ ]:
year_end_price = data.groupby(pd.Grouper(freq='YE')).last()
year_end_price['Yearly Return'] = year_end_price.Close.pct_change()

In [ ]:
# Calculates the difference beyween last price of year and last price of next year
year_end_price.fillna({'Yearly Return': 0})

In [ ]:
year_end_price['Cumulative Return'] = (1 + year_end_price['Yearly Return']).cumprod()
year_end_price['Cumulative Return'] = year_end_price['Cumulative Return'] - 1

In [ ]:
year_end_price